

.font-head-title {
  font-family: 'Oswald', sans-serif;
  font-size: clamp(50px, 12vw, 14rem);
  font-weight: bolder;
  transform: translateY(100%);
  opacity: 0;
  animation: slideUp 1s ease-out 1 forwards, fadeIn 1s ease-out forwards;
  
    @keyframes slideUp {
      to {
        transform: translateY(0%);
      }
    }
    @keyframes fadeIn {
      to {
        opacity: 1;
      }
    }
  
  @media (min-width: 760px) {
    letter-spacing: .4rem;
  }
}




.test{
  border: 1px solid rgb(0, 255, 34);
}


//projectcard
.project-card{
  width: clamp(10rem, 70%, 30rem);
  border: 1px solid red;
}
.more {
  ul li{
    list-style-type: disc;
  }
}