

.font-head-title {
  font-family: 'Oswald', sans-serif;
  font-size: clamp(50px, 12vw, 14rem);
  font-weight: bolder;
  transform: translateY(100%);
  opacity: 0;
  animation: slideUp 1s ease-out 1 forwards, fadeIn 1s ease-out forwards;
  
    @keyframes slideUp {
      to {
        transform: translateY(0%);
      }
    }
    @keyframes fadeIn {
      to {
        opacity: 1;
      }
    }
  
  @media (min-width: 760px) {
    letter-spacing: .4rem;
  }
}




.test{
  border: 1px solid rgb(0, 255, 34);
}


//projectcard
.project-card{
  border-radius: 8px;
  background-color: #736e6e1f;
  backdrop-filter: blur(5px);
  // width: clamp(25rem, 90%, 34rem);
}

.project-btn{
  border-radius: 8px;
  &:hover{
    background: linear-gradient(to left, rgba(161, 219, 0, 0.92), rgba(2, 223, 164, 0.986));
  }
}

.light{
  width: 140px;
  background: linear-gradient(to right, #ff000000, rgba(0, 255, 174, 0.502), rgb(0, 255, 34));
  animation: slide 1.5s ease-out 1s infinite;
}
@keyframes slide {

  0%{
    left: 0;
  }
  100%{
    left: 100%;
  }
  
}

.more {
  ul li{
    list-style-type: disc;
  }
}

.layer{
  background: linear-gradient(to top, #222325, #242427, #33303081);
}

.bg-btn{
  background: linear-gradient(to left, rgba(141, 190, 4, 0.92), rgba(4, 160, 118, 0.986));
}


