@import '../../sass/variable';
.list-scroller {
  animation: scroller 40s linear infinite;
}
.list-scroller::-webkit-scrollbar{
  width: 0px;
  height: 0px;
}

@keyframes scroller {
  to{
    transform: translate(-100%);
  }
}

.frontend {
  border-bottom: .5px solid $border_color;
}