@import '../../sass/variable';

.spotlight {
  border-left: .5px solid $border-color;
  border-right: .5px solid $border-color;
}
.spotlight-container {
  border-bottom: .5px solid $border-color;
}
.tall-text {
  font-family: 'Oswald', sans-serif;
  font-size: clamp(50px, 12vw,  14rem);
  font-weight: bolder;

  @media (min-width: 760px) {
    letter-spacing: .4rem;
  }
}

.eye-box {
  width: clamp(100px, 20vw, 18rem);
  height: clamp(100px, 20vw, 18rem);
}
.content {
  animation: slideUp .8s ease-out 1 forwards, opacityUp 1.5s ease 1 forwards;
}
@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes opacityUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
