
@import '../../sass/variable';

.spotlight {
  border-left: .5px solid $border-color;
  border-right: .5px solid $border-color;
}

.spotlight-container {
  border-bottom: .5px solid $border-color;
}

.tall-text {
  font-family: 'Oswald', sans-serif;
  font-size: clamp(50px, 12vw, 14rem);
  font-weight: bolder;

  @media (min-width: 760px) {
    letter-spacing: .4rem;
  }
}

.eye-box {
  width: clamp(100px, 20vw, 18rem);
  height: clamp(100px, 20vw, 18rem);
}